<launch>

  <!-- Start Joystick control start -->
  <include file="$(find obj_track)/launch/local_nodes.launch" />

  <machine name="jackal_five" address="141.219.120.44" env-loader="/home/rsestudent/start_usbcam.sh" user="rsestudent" password="rsestudent" default="true"/>

  <!-- <include file="$(find obj_track)/launch/usb_cam-test.launch">
    <arg name="machine" value="jackal_five" />
  </include> -->
        <!--<include file="/home/rsestudent/usb_cam-test.launch" machine="jackal_five"/> -->
    <!-- <node machine="jackal_five" name="joy_strt" pkg="obj_track" type="joystick_controlstart.py" /> -->

</launch>
